<<<<<<< HEAD
/* Stile per la pagina principale */
.emilys-candy-regular {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    font-family: "Emilys Candy", serif;
    text-align: center;
    color:red;
    background-color: rgb(236, 183, 213);
}

.container {
    margin-top: 90px;
}

.buttons {
    margin-top: 20px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#yesButton {
    background-color: rgb(156, 8, 28);
    border-radius: 10px;
}

#noButton {
    background-color: lightcoral;
    border-radius: 10px;
}

.gif_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 10%;
}

.home_container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

/* Stile per la cartolina */
.card {
    text-align: center;
    background-color: rgb(235, 122, 207);
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    height: auto;
}
=======
/* Stile per la pagina principale */
.emilys-candy-regular {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    font-family: "Emilys Candy", serif;
    text-align: center;
    color: darkred;
    background-color: rgb(236, 183, 213);
}

.container {
    margin-top: 90px;
}

.buttons {
    margin-top: 20px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#yesButton {
    font-family: "Emilys Candy", serif;
    background-color: rgb(250, 100, 150);
    border-radius: 10px;
    transition: background 0.3 ease-in-out;
    color: white;
}

#noButton {
    font-family: "Emilys Candy", serif;
    background-color: rgb(250, 100, 150);
    border-radius: 10px;
    transition: background 0.3 ease-in-out;
    color: white;
}

#yesButton:hover, #noButton:hover {
    background-color: darkred;
}

/* Stile per la cartolina */
.card {
    text-align: center;
    background-color: rgba(240, 160, 180, 0.5);
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    height: auto;
}
>>>>>>> 34a6991 (Aggiornamento 07/02/25)
